@use "../utils/variables" as *;
@use "../utils/flex-center" as *;
@use "../utils/btn-reset" as *;

.job {
  @extend %flex-center;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 50px;
  padding: 40px 25px 25px 25px;
  border-radius: 5px;
  background-color: $White;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  @media (min-width: $Tablet) {
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    padding: 35px 40px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    transition: 0.4s;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0;
    background-color: $Desaturated-Dark-Cyan;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &__logo {
    position: absolute;
    z-index: 2;
    top: -25px;
    left: 30px;
    max-width: 50px;

    @media (min-width: $Phone) {
      position: static;
      max-width: 88px;
    }
  }

  &__tag {
    padding: 5px 10px;
    padding-top: 8px;
    border-radius: 20px;
    background-color: $Desaturated-Dark-Cyan;
    color: $White;
    font-size: 0.85rem;

    &--dark {
      margin-left: 5px;
      background-color: $Very-Dark-Grayish-Cyan;
    }
  }

  &__header {
    @extend %flex-center;
  }

  &__company-name {
    padding-right: 20px;
    color: $Desaturated-Dark-Cyan;
    font-size: 1.1rem;
    font-weight: $Font-Bold;
    text-decoration: none;

    @media (min-width: $Tablet) {
      padding-right: 10px;
    }
  }

  &__position-link {
    transition: 0.3s;
    color: $Very-Dark-Grayish-Cyan;
    text-decoration: none;

    @media (max-width: $Tablet) {
      font-size: 1.25rem;
    }

    &:hover,
    &:focus,
    &:active {
      color: $Desaturated-Dark-Cyan;
    }
  }

  &__content {
    @extend %flex-center;
    gap: 25px;
  }

  &__info {
    @extend %flex-center;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    &-list {
      @extend %flex-center;
      padding-bottom: 20px;
      gap: 25px;

      @media (min-width: $Tablet) {
        padding-bottom: 0;
      }

      &-item:first-child {
        list-style: none;
      }
    }
  }

  &__categories {
    @extend %flex-center;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 15px;
    border-top: 1px solid $Desaturated-Dark-Cyan;
    gap: 15px;

    @media (min-width: $Tablet) {
      flex-direction: row;
      justify-content: center;
      padding-top: 0;
      border-top: none;
    }

    &-btn {
      @extend %btn-reset;
      padding: 8px;
      transition: 0.3s;
      border-radius: 3px;
      background-color: $Light-Grayish-Cyan;
      color: $Desaturated-Dark-Cyan;
      font-size: 0.9rem;
      font-weight: $Font-Bold;

      &:hover,
      &:focus,
      &:active {
        background-color: $Desaturated-Dark-Cyan;
        color: $White;
      }
    }
  }
}
